pipeline/DF_to_var_Practice.json
{
	"name": "DF_to_var_Practice",
	"properties": {
		"activities": [
			{
				"name": "practice_of_dftoVar",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "practice_of_dftoVar",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "practice_of_dftoVar",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentvalue",
					"value": {
						"value": "@string(activity('practice_of_dftoVar').output.runStatus.output.sink1.value[0].average)\r\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "var_to_df2_practice",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "var_to_df2_practice",
						"type": "DataFlowReference",
						"parameters": {
							"comparisonvalue": {
								"value": "@int(variables('currentvalue'))",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"currentvalue": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-06T07:21:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}