pipeline/script_activity.json
{
	"name": "script_activity",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sqlserver",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "select gend, sum(sal) as total  from employees group by gend"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "isresult",
					"value": {
						"value": "@activity('Script1').output.resultSets.data",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"isresult": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-11T04:57:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}